#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Images and data files
*.fits
*.fit
*.fz
*.txt
*.png
*.riz
*~
*.json
*.err
*.out
*.qbs
*.eps
*.pdf

# mypy
.mypy_cache/
*#
*.#*
*.ipynb_checkpoints*
*env/
